@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color:rgb(253 242 248);
  padding: 1rem;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}



.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Ajusta esto a la altura que necesites */
}

body {
  background: linear-gradient(to right, rgb(244, 193, 223),rgb(237, 219, 148), rgb(154, 218, 234));
  /* Cambia los colores según tus preferencias */
  margin: 0;
  /* Para quitar el margen predeterminado del body */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}