@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #ffffff;
  padding: 1rem;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.navbar li a:hover {
  color: #a0aec0;
  /* gris claro */
}

.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Ajusta esto a la altura que necesites */
}

body {
  margin: 0;
  padding: 0;
  background-image: url('./fondo/fondo_degradado.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}